{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">

	<title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Profile/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Profile/scss/style.scss' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>	
	<style type="text/css">


	body {
	    background-color: #E1E8ED;	    
	}
	a {
		color: #55ACEE;
	}


	</style>

	{% block head %}{% endblock %}

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="active navbar-brand" href="/profile/">worknow</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">

	      <ul class="yz nav navbar-nav navbar-right">         	     	



		      <li>
		      	<a href="/home/">Home</a>
		      </li>

	      	  <li>
	      	  		<a href="/profile/"><span class="glyphicon glyphicon-user"></span> {{user.first_name}}</a>
	      	  </li>

		      <li>
		      	<a href="">|</a>
		      </li>
	      	  <li class="dropdown">
	      	  		<a class="dropdown-toggle" data-toggle="dropdown"  href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
					
			        <ul class="dropdown-menu">
				  	  <li><a href="/profile/edit/">Editar Usuário</a></li>
			          <li><a href="/logout/">Sair</a></li>
			        </ul>

	      	  </li>	      	  

	
	      </ul>
	    </div>
	  </div>
	</nav>

	{% block content %}
	{% endblock %}	


	{% block js %}{% endblock %}
    <script language="javascript" src="{% static 'css/bootstrap/js/jquery-3.1.0.min.js' %}"></script>
    <script language="javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Profile/js/index.js' %}"></script>

</body>
</html>

<!--
HEX: #55ACEE

HEX: #292F33

HEX: #66757F

HEX: #CCD6DD

HEX: #E1E8ED

HEX: #FFFFFF

-->