{% extends "base.html" %}

{% block title %}{{ user.first_name}} {{user.last_name}} - worknow{% endblock %}

{% block content %}



<div class="col-xs-12 col-sm-10 col-md-12 col-lg-6">	
				<br><br><br>

				{% for post in posts %}
				<div class="panel panel-primary">
			    	<h5>
			    	<img class="img-responsive, img-circle" src="{{post.author.userprofile.image.url}}" width="35" height="35">
			    	{{post.author.first_name}} {{post.author.last_name}}
			    	</h5>

			      	<hr>
					<h3><a href="/post/{{post.pk}}/">{{ post.title }}</a></h3>
					
					<div class="info-content">      
		              <p>{{ post.text|linebreaksbr }}</p>
		              <a href="/post/{{post.pk}}/"><span class="glyphicon glyphicon-comment"></span> {{ post.approved_comments.count }}</a>
		              <a href="/post/{{post.pk}}/" style="float:right"><button type="button" class="btn btn-primary" >Comentar</button></a> 
					</div>

					<hr>
			    </div>
			    {% endfor %}
		</div>
 </div> 
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3"></div>

{% endblock %}