{% extends 'base_login.html' %}
{% load staticfiles %}

{% block title %}Login Inválido - worknow{% endblock %}

{% block head %}
{% endblock %}

{% block content %}



	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"></div>
 	
 	<div class="container">
		<div class="row">

			<div class="panel panel-primary">
			  <div class="panel-heading"></div>
			  <div class="panel-body">		
				
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">			
					<h3>Login inválido!!!<br></h3>
					<a href="/login"><p>Clique  aqui para tentar novamente</p></a>

					</div>
			  </div>
			</div>
		</div>
			
	
	</div>	
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"></div>


{% endblock %}