{% extends 'base_login.html' %}
{% load staticfiles %}

{% block title %}worknow{% endblock %}

{% block head %}
{% endblock %}

{% block content %}


 	<div class="container">
		<div class="row">
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="jumbotron" id="comp-esq">
					<h2 style="padding-left: 15%">Entre novamente</h2>
					<p style="padding-left: 15%">Clique <a href="/login">aqui</a> para voltar a usar conta</p>


				</div>
			</div>
			
		</div>
	</div>


{% endblock %}

